body {
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/97/39/7f/caption.jpg?w=1200&h=-1&s=1&cx=1920&cy=1080&chk=v1_f31158e4bb953d28a308");
  background-size: cover;
  color: white;
}

.blackbox {
  width: 325px;
  height: 325px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
}

.blackbox .flag-image {
  width: 100px;
  margin-top: 40px;
  border-radius: 50%;
}

.blackbox h2 {
  font-family: 'Oswald', sans-serif;
  padding-top: 15px;
  color: white;
  text-align: center;

}

.search-bar {
  text-align: center;
}

a {
  text-align: center;
}